*{
    box-sizing: border-box;
    margin: 0;
    font-size: 1em;
}

header{
    background-image:url(../img\ 4/jumbo.png);
    background-size: cover;
    background-position: center;
}

.container{
    margin: 0 auto ;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
}

#logoDisc{
    width: 100%;
}

#container-img-logo{
    width: 10%;
}

.link{
    margin: 8px;
    color: white;
}


#containerA{
    height:4em;
    justify-content: space-around;
    align-items: center;   
}

#containerB{
    height: 15em;
    align-items: center;
    justify-content: center;
}

#blockA{
    width: 50%;
    height:90%;
    flex-direction: column;
    align-items: center;
}

#blockA>h1,#blockA>div{
    color:white;
    text-align: center;
}

#blockA>p,#botton-container{
    margin-top: 3.5%;
}

#blockA>p{
    margin-top: 3.5%;
    max-width: 100%;
    font-size: 20px;
    color: white;
}



.bottone{
    border-radius: 20px;
    min-width: 8em;
    height: 2.2em;
    display: inline-block;
    text-align: center;
    padding: 10px 32px;
}

#ButtonA{
    background-color:white;
    color: black;
    margin-right: 1em;

}

#ButtonB{
    background-color:black;
    color: white;

}


.block-w{
    min-width: 70%;
    max-width: 70%;
    height: 100%;
    min-height: 60%;
    justify-content: center;
}

div>p{
margin-top: 0;
max-width: 18em;
}

div>h2{
margin-top: 20px; 
margin-bottom: 40px;
}

img{
    width: 500px;
    height: 500px;
}

#containerC{
    background-color: white;
}

#blockB{
    justify-content: center;
    align-items: center;

}

.miniblockA{
    max-width: 70%;
    max-height: 90%;
    flex-wrap: wrap;
}

.miniblockB{
    max-width: 30%;
    max-height: 90%;
    flex-wrap:wrap;
}

.miniblockB>p{
    margin-top: 1em;
    font-size: 1em;
}

.block-w img{
    max-width: 100%;
    max-height: 100%;
}

#containerD{
    background-color: lightgrey;
}

#paragrafoC{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#flex-containerE{
    flex-direction: column;
    justify-content: center;

}

#blockE>h2{
    margin: 20px auto;
    font-size: 1.2em;
}

#blockE>p{
    margin: 20px auto;
    font-size: 1.4em;
    max-width: 800px;
}

#containerF{
    background-color: lightgrey;
    height:48em;
}

#blockE{
    height:100%;
    flex-direction: column;
    justify-content: center;
}

#Big-img{
    width: 650px;
    max-height: 650px;
}


#background-paragrafo{
    background-image: url(../img\ 4/stars.svg);
    background-size:contain ;
    text-align: center;
    font-size: 1.8em;
    max-width: 30%;
    margin: auto;
}

#containerG{
    background-color:black;
    height: 35em;
}

#blockF{
    height:90%;
}

.miniblock{
    width: 60%;
    height: 100%;
    background-color: aquamarine;
    border-color: white;
    border: 1px dashed white;
}

.miniblockC{
    height: 100%;
    width: 30%;
    background-color:palevioletred;
}

.miniblockD{
    height: 100%;
    width: 70%;
}

#containerH{
    background-color:black;
    height: 10em;
}

#blockG{
    height:90%;
    background-color: rgb(127, 255, 246);
    justify-content: space-between;
    align-items: center;

}

.bottone>button{
    background-color: white;
    border-radius: 10px;
    height: 2.2em;
    width: 4em;
    padding:2px;
}

#logo{
    height: 2em;
    width: 3em;
    background-color: lightgrey;
    border:1px solid black;
}

#download{
background-color:#5865f2;
text-align:center;
margin:30px auto;
width: 15%;
height: 30px;
color: white;
border-radius: 20px;
}